
.app-top-alert{
    position: fixed;
    width: 100%;
    z-index: 10000;  
    text-align: center;
    top:0px;
    left:0px;
    letter-spacing: 1px;
    font-weight: bold;
    padding:8px 28px;
    h5 {
        font-size:14px;
    }
}
#app {
    background:#EDEDED; 
}
.kf-top-bar{
   border-bottom:solid 6px #EDEDED
}

.kf-top-bar-filter {
 
}

.kf-top-bar-filter .kf-carot {
    width: 8px;
    height: 8px;
    border: 2px solid;
    display: inline-block;
    transform: rotate(45deg);
    border-left: 0px;
    border-top: 0px;
    position: relative;
    top: -3px;
}

// .header-top-bar{
//     .w3-bar-item {
//         //  margin:0px 2px;
//     }
// }

.google-maps-supply {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps-supply iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.kf-top-bar-filter .w3-dropdown-content {
    position: fixed;
}

.w3-modal{
    padding-top:20px;
}
.w3-button.active, .w3-button:hover{
    background:white !important;
    color:black!important;
}


.cgs-loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top:10px;
}

.cgs-loader-small {
    .cgs-loader {
        border: 2px solid #f3f3f3; /* Light grey */
        border-top: 2px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }
}
.rescue-table{
    tr td {
        vertical-align: top;
    }
}
.kf-request-item{
    word-wrap: break-word;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.kf-manage-container {
    min-height: 100vh;
    padding-bottom: 100px;
}